{% extends 'user/theme.html' %}

{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}

<br><br><br>
<br><br><br>
<br><br><br>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 bg-light">
            <h3>Hello {{user.first_name}}</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'user_page' %}">Profile</a></li>
                <li class="list-group-item"><a href="{% url 'user_address' %}">Shopping Address</a></li>
                <li class="list-group-item"><a href="{% url 'order_history' %}">Order History</a></li>
                <li class="list-group-item"><a href="{% url 'wishlist' %}">My Wishlist</a></li>
                <li class="list-group-item"><a href="{% url 'cart' %}">My Cart</a></li>
                <li class="list-group-item"><a href="{% url 'wallet' %}">Wallet</a></li>
                <li class="list-group-item"><a href="{% url 'logout_user' %}">Log Out</a></li>
            </ul>
        </div>
        <!-- Main Content -->
        <div class="col-md-9 ">

          <h3>Your Cart</h3>



          {% if not cart_items %}
          <br><br>
          <div class="col-md-6 offset-md-3">
            <h4>Your cart is empty... <br> <a href="/user/#tab-all">Add items to cart</a></h4>
          </div>


          {% else %}




            
          <div class="row">
            <div class="col-md-8">
         
              <table class="table table-striped">
                <thead>
                  
                </thead>
                <tbody>
                  
                  {% for item in cart_items %}
                  <tr>
                    <td><a href="{% url 'view_product' item.product_id %}"><img src="{{item.image}}" alt="Product Image" style="height: 100px;"></a></td>
                    <td><a style="color: black;" href="{% url 'view_product' item.product_id %}">{{item.product_name}} <br>{{item.unit}}</a></td>
                    
                    <td>
                      <div class="input-group quantity mb-5" style="width: 100px;">
                          <div class="input-group-btn">
                              <button data-cartid="{{item.id}}" class="btn btn-sm btn-minus rounded-circle bg-light border" >
                                  <i class="fa fa-minus"></i>
                              </button>
                          </div>
                          <input type="text" class="form-control form-control-sm text-center border-0" id="quantity{{item.id}}" value="{{item.quantity}}">
                          <div class="input-group-btn">
                              <button data-cartid="{{item.id}}" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                  <i class="fa fa-plus"></i>
                              </button>
                          </div>
                      </div>
                      
                      </td>
                    <td>₹{{item.price}}</td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            <h5><a href="/user/#tab-all">Continue Shopping -></a></h5>

            </div>
            <div class="col-md-4">


              
                
                    <!-- <div class="bg-light rounded">
                        <div class="p-4">
                            <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                            <div class="d-flex justify-content-between mb-4">
                                <h5 class="mb-0 me-4">Subtotal:</h5>
                                <p class="mb-0">$96.00</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h5 class="mb-0 me-4">Shipping</h5>
                                <div class="">
                                    <p class="mb-0">Flat rate: $3.00</p>
                                </div>
                            </div>
                            <p class="mb-0 text-end">Shipping to Ukraine.</p>
                        </div>
                        <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                            <h5 class="mb-0 ps-4 me-4">Total</h5>
                            <p class="mb-0 pe-4">$99.00</p>
                        </div> -->
                        
                    <table class="table">
                      <tbody>
                          <tr>
                              <td>Products total</td>
                              <td>₹{{ product_total }}</td>
                          </tr>
                          <tr>
                              <td>Delivery Charge</td>
                              <td>₹{{ delivery }}</td>
                          </tr>
                          <tr>
                              <th scope="row">Total</th>
                              <th scope="row"><strong>₹{{total}}</strong></th>
                          </tr>
                      </tbody>
                  </table>






              
              <br><hr><br>
              <h3>Delevery Address</h3><hr>
              <p>{{address.address_line}}</p>
              <p>{{address.landmark}}</p>
              <p>{{address.city}}</p>
              <p>PIN:{{address.pin}}</p>
              <p>Mob:{{address.user_id.phone}}</p>

              <a href="{% url 'user_address' %}" class="btn btn-outline-secondary">Change Address</a><br><br>
              
              <button data-bs-toggle="modal" data-bs-target="#checkout" class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="button">Proceed Checkout</button>
              

            </div>
          </div>
{% endif %}
        </div>
    </div>
</div>
    



<!-- model for checkout -->
<div class="modal fade" id="checkout" tabindex="-1" role="dialog" aria-labelledby="checkoutLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Checkout Page</h5>
          <button type="button" class="close bg-danger text-white" style="border-radius: 3px; border: hidden;" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">
          <!-- Your form goes here -->
          <form class="checkout-form" action="{% url 'checkout' %}" method="post">
          {% csrf_token %}

          <table class="table">
            <tbody>
                <tr>
                    <td>Products total</td>
                    <td>₹{{ product_total }}</td>
                </tr>
                <tr>
                    <td>Delivery Charge</td>
                    <td>₹{{ delivery }}</td>
                </tr>
                <tr>
                    <th scope="row">Total</th>
                    <th scope="row"><strong>₹{{total}}</strong></th>
                </tr>
            </tbody>
        </table>
          <div class="form-group">
              <h6>Choose Payment Option</h6><hr>

              <input type="radio" id="card" name="payment" value="card" >
              <label for="card">Credit/Debit card</label><br>

              <input type="radio" id="upi" name="payment" value="upi" >
              <label for="upi">BHIM UPI</label><br>

              <input type="radio" id="wallet" name="payment" value="wallet" >
              <label for="wallet">Wallet</label><br>

              <input type="radio" id="cod" name="payment" value="cod" >
              <label for="cod">Cash on Delivery</label><br>
          
          </div>
          <hr>
          
          
          <div class="form-group">
              <label for="instructions">Delivery Instructions</label>
              <input type="text" class="form-control" id="instructions" name="instructions" placeholder="Preffered time for delivery or any other instructions">
          </div>
          
          
          <!-- Add more fields as needed -->
          <div class="modal-footer">

            <input type="hidden" name="total_price" value="{{total}}">
          <button type="submit" id="" class="btn btn-primary">Confirm Order</button>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
          </form>
      </div>
      
      </div>
  </div>
  </div>
               
<style>
  .table td {
      vertical-align: middle;
  }
</style>

{% endblock %}

{% block scripts %}
<script>
$(".btn-minus").on('click', function() {
  var cartid = $(this).data('cartid');
  var quantityInput = $("#quantity" + cartid);
  var newQuantity = parseInt(quantityInput.val()); // Decrement quantity

  if (newQuantity === 0) {
    if (confirm("Are you sure you want to remove this item from your cart?")) {
      quantityInput.val(newQuantity);
      $.ajax({
        url: "/user/update_cart/", // Use the appropriate URL for removing
        type: "POST",
        data: {
          'cartid': cartid,
          'quantity': newQuantity,

          'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(response) {
          // Handle success, likely removing the item from the cart display
        }
      });
    }
  } else {
    quantityInput.val(newQuantity);
    $.ajax({
      url: "/user/update_cart/",
      type: "POST",
      data: {
        'cartid': cartid,
        'quantity': newQuantity,
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(response) {
        // Handle success
      }
    });
  }
});


$(".btn-plus").on('click', function() {
    var cartid = $(this).data('cartid');
    var quantityInput = $("#quantity" + cartid);
    var newQuantity = parseInt(quantityInput.val());
    quantityInput.val(newQuantity);

    $.ajax({
        url: "/user/update_cart/",  // Update this to your URL
        type: "POST",
        data: {
            'cartid': cartid,
            'quantity': newQuantity,
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(response) {
            // Handle success
        }
    });
});

    </script>
    

    {% endblock %}