{% extends 'user/theme.html' %}

{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}

<br><br><br>
<br><br><br>
<br><br><br>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 bg-light p-4 ms-4 rounded shadow" style="height: 60vh;">
            <h4>Hello {{user.first_name}}</h4>
              <ul class="list-group">
                <a href="{% url 'user_page' %}"><li class="list-group-item rounded-4">Profile</li></a>
                <a href="{% url 'user_address' %}"><li class="list-group-item rounded-4">Shopping Address</li></a>
                <a href="{% url 'order_history' %}"><li class="list-group-item rounded-4">Order History</li></a>
                <a href="{% url 'wishlist' %}"><li class="list-group-item rounded-4">My Wishlist</li></a>
                <a href="{% url 'cart' %}"><li class="list-group-item rounded-4">My Cart</li></a>
                <a href="{% url 'wallet' %}"><li class="list-group-item rounded-4">Wallet</li></a>
                <a href="{% url 'logout_user' %}"><li class="list-group-item rounded-4">Log Out</li></a>
              </ul>
          </div>
        <!-- Main Content -->
        <div class="col-md-9">

            {% if messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                   {{message}}
        
                {% endfor %}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
             </div>
             {% endif %}

            <h3 style="color: rgb(18, 146, 16);">Order history page</h3>
            <hr>

    

{% for order in orders %}
            <div class="row">
                <div class="col-md-5" style="margin-left: 30px; border-left: solid rgb(32, 134, 3) 2px; padding-left: 30px;">
                    <h6>Order ID: {{ order.order_id }}</h6>
                    <p>Order Date: {{ order.order_date }}</p>
                    {% if order.status == 'Delivered' %}
                    <p>Delivered on: 04/04/2024</p>
                    {% else %}
                    <p>Delivery Expected on: 01/01/2026</p>
                    {% endif %}
                    <p>Total Price: ₹{{ order.total }}</p>
                </div>
                <div class="col-md-6" style="border-left: solid rgb(32, 134, 3) 2px; padding-left: 30px;">
                    <p>Payment Method: {{ order.payment_method }}</p>
                    
                    <!-- <p>Delivery Instructions: {{ order.delivery_instructions }}</p> -->
                    {% if order.status == 'Pending' %}
                    {% if not order.return_status %}
                    <p>Status: <span style="color: rgb(167, 167, 3);">{{ order.status }}</span>

                        <a href="{% url 'cancel_order' order.order_id %}" class="btn btn-danger btn-sm" style="margin-left: 15px;" onclick="return confirm('Are you sure you want to cancel this order?');">cancel order</a>
                    {% elif order.return_status == 'Cancelled' %}
                    <p>Status: <span style="color: rgb(245, 3, 3);">Order Cancelled</span>
                    {% endif %}
                        
                    </p>
                    {% elif order.status == 'Dispatched' %}
                    <p>Status: <span style="color: rgb(199, 108, 4);">{{ order.status }}</span>
                        <!-- <button class="btn btn-danger btn-sm" style="margin-left: 15px;">cancel order</button> -->
                    </p>
                    {% else %}
                    <p>Status: <span style="color: rgb(52, 208, 13);">{{ order.status }}</span>
                    {% if not order.return_status %}

                        <a href="{% url 'return_order' order.order_id %}" class="btn btn-secondary btn-sm" style="margin-left: 15px;">Return</a>
                    {% else %}
                    <p>Status: <span style="color: rgb(245, 3, 3);">Item Returned</span>
                        {% endif %}

                    </p>


                        {% endif %}
                    
                    <button class="btn btn-outline-secondary btn-sm toggleButton" data-orderid="{{ order.order_id }}">Show Details</button>
                    
                </div>
            </div>
            <hr>
    
    <div class="details" id="details{{ order.order_id }}" style="display: none;">
    

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items %}

                    <tr>
                        {% if item.image %}

                        <td><a href="{% url 'view_product' item.product_id %}"><img src="{{ item.image.image.url }}" alt="Product Image" style="height: 50px;"></a></td>
                        {% endif %}
                        
                        <td><a style="color: black;" href="{% url 'view_product' item.product_id %}">{{item.product}} - ({{item.product.quantity}}{{item.product.unit}})</a></td>
                        <td>{{ item.quantity }}</td>
                        <td>₹{{ item.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endfor %}



            





        </div>
    </div>
</div>
    





               


{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $(".toggleButton").click(function(){
        var orderId = $(this).data("orderid");
        var detailsDiv = $("#details" + orderId);
        
        if (detailsDiv.is(":visible")) {
            detailsDiv.fadeOut();
            $(this).text("Show Details");
        } else {
            detailsDiv.fadeIn();
            $(this).text("Hide Details");
        }
    });
});
</script>

    {% endblock %}