{% extends 'user/theme.html' %}

{% load static %}
{% block content %}

<div class="row">
    <br><br><br><br><br><br><br>
</div>
<div class="row">
    
<div class="col-md-4 bg-white rounded-4 mt-5 p-3">
  
  

    <!-- {% if messages %} -->
    <div class="alert alert-Success alert-dismissible fade show" role="alert">
        <!-- {% for message in messages %}
           {{message}} -->
           

        <!-- {% endfor %} -->
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
     <!-- {% endif %} -->

    

    
    </div>
    

    <!-- image section started -->
    <div class="col-md-5">

        <h2 style="margin-left: 50px; color:rgb(0, 114, 19);">
            {% if status %}
            Order Placed Successfully
            {% else %}error{% endif %}
            </h2>
       <a href="{% url 'home' %}"> <img style="width: 95%;" src="{% static 'img/order.jpg' %}" alt="Order Placed"></a>
    
    

<!-- end of image section -->
</div>





{% endblock %}