{% extends 'user/theme.html' %}

{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<SCript>
  function updateDefaultAddress(addressId) {
    $.ajax({
        url: "{% url 'default_address' %}",  // URL of your Django view
        type: 'POST',
        data: {
            'address_id': addressId,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(data) {
            // Handle success (optional)
        },
        error: function(data) {
            // Handle error (optional)
        }
    });
}

</SCript>
<br><br><br>
<br><br><br>
<br><br><br>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 bg-light p-4 ms-4 rounded shadow" style="height: 400px;">
          <h4>Hello {{user.first_name}}</h4>
            <ul class="list-group">
              <a href="{% url 'user_page' %}"><li class="list-group-item rounded-4">Profile</li></a>
              <a href="{% url 'user_address' %}"><li class="list-group-item rounded-4 active">Shopping Address</li></a>
              <a href="{% url 'order_history' %}"><li class="list-group-item rounded-4">Order History</li></a>
              <a href="{% url 'wishlist' %}"><li class="list-group-item rounded-4">My Wishlist</li></a>
              <a href="{% url 'cart' %}"><li class="list-group-item rounded-4">My Cart</li></a>
              <a href="{% url 'wallet' %}"><li class="list-group-item rounded-4">Wallet</li></a>
              <a href="{% url 'logout_user' %}"><li class="list-group-item rounded-4">Log Out</li></a>
            </ul>
        </div>
        <!-- Main Content -->
        <div class="col-md-9">
            
        {% for address in addresses %}

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{address.address_line}}</h5>
                    <p class="card-text">{{address.landmark}}<br>{{address.city}}<br>PIN : {{address.pin}}<br>{{address.state}}<br>
                        ph :+91 {{user.phone}}<br>email : {{user.email}}</p>
                    
                    
                        <input type="radio" id="defaultAddress{{address.id}}" name="defaultAddress" value="{{address.id}}" onclick="updateDefaultAddress('{{address.id}}')" {% if address.is_default %} checked {% endif %}>
                    <label for="defaultAddress{{address.id}}">Set as default</label><br>
                    <a href="#" class="card-link edit-address" data-bs-toggle="modal" data-bs-target="#editModal{{address.id}}" data-address-id="{{address.id}}">Edit</a>

                    {% if addresses|length > 1 %}
                 <a href="#" class="card-link delete-address" data-address-id="{{address.id}}" onclick="return confirm('Are you sure? Do you really want to delete this address?');">Delete</a>
                 {% endif %}
                </div>
            </div>
            


    <!-- model for update address form with values -->
    <div class="modal fade" id="editModal{{address.id}}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Address</h5>
            <button type="button" class="close bg-danger text-white" style="border-radius: 3px; border: hidden;" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Your form goes here -->
            <form action="{% url 'update_address' %}" class="update-address-form" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address-{{address.id}}" name="address" value="{{address.address_line}}" placeholder="Enter address">
              </div>
              
              
              <div class="form-group">
                <label for="landmark">Landmark</label>
                <input type="text" class="form-control" id="landmark-{{address.id}}" name="landmark" value="{{address.landmark}}" placeholder="Enter landmark">
              </div>
              <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city-{{address.id}}" name="city" value="{{address.city}}" placeholder="Enter city">
              </div>
              <div class="form-group">
                <label for="pin">PIN</label>
                <input type="text" class="form-control" id="pin-{{address.id}}" name="pin" value="{{address.pin}}" placeholder="Enter pincode">
              </div>
              <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" class="form-control" name="state" id="state-{{address.id}}" value="{{address.state}}" placeholder="Enter state">
                </div>

                <input type="hidden" class="form-control" name="ad-id" id="ad-id" value="{{address.id}}" >
              
              <!-- Add more fields as needed -->
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="update_address">Save changes</button>
  
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
            
        {% endfor %}

           


    <!-- Modal -->







<!-- Button trigger modal for adding address -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Address
  </button>

  <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Address</h5>
                <button type="button" class="close bg-danger text-white" style="border-radius: 3px; border: hidden;" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Your form goes here -->
                <form class="add-address-form" >
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
                  </div>
                  
                  
                  <div class="form-group">
                    <label for="landmark">Landmark</label>
                    <input type="text" class="form-control" id="landmark" name="landmark" placeholder="Enter landmark">
                  </div>
                  <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" class="form-control" id="city" name="city" placeholder="Enter city">
                  </div>
                  <div class="form-group">
                    <label for="pin">PIN</label>
                    <input type="text" class="form-control" id="pin" name="pin" placeholder="Enter pincode">
                  </div>
                  <div class="form-group">
                      <label for="state">State</label>
                      <input type="text" class="form-control" name="state" id="state" placeholder="Enter state">
                    </div>
                  <!-- Add more fields as needed -->
                <div class="modal-footer">
                <button type="submit" id="" class="add_address_form_submit btn btn-primary">Save changes</button>

                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                </form>
              </div>
              
            </div>
          </div>
        </div>










        </div>
    </div>
</div>
    





               


{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $(".add-address-form").on('submit', function(event){
            event.preventDefault(); // Prevent the form from being submitted normally
            $.ajax({
                url: "{% url 'add_address' %}", // The URL you're posting to
                type: "POST",
                data: {
                    address: $('#address').val(), // Get the value of the address field
                    landmark: $('#landmark').val(),
                    city: $('#city').val(),
                    pin: $('#pin').val(),
                    state: $('#state').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(), // Get the CSRF token
                },
                success: function(response){
                if(response.message){
                    alert(response.message); // Show a success message
                    window.location.href = "{% url 'user_address' %}"; // Redirect to the old page
                }else if(response.error){
                    alert(response.error); // Show an error message
                }
            }
        });
    });

    $(".delete-address").click(function(event){
        event.preventDefault(); // Prevent the link from being followed
        var addressId = $(this).data('address-id'); // Get the id of the address to be deleted
        $.ajax({
            url: "{% url 'delete_address' %}", // The URL of your Django view
            type: "POST",
            data: {
                'address_id': addressId,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(), // Get the CSRF token
            },
            success: function(response){
                if(response.message){
                    alert(response.message); // Show a success message
                    location.reload(); // Reload the page
                }else if(response.error){
                    alert(response.error); // Show an error message
                }
            }
        });
    });

    






});
    </script>
    

    {% endblock %}