{% extends 'user/theme.html' %}

{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}

<br><br><br>
<br><br><br>
<br><br><br>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 bg-light p-4 ms-4 rounded shadow" style="height: 60vh;">
            <h4>Hello {{user.first_name}}</h4>
              <ul class="list-group">
                <a href="{% url 'user_page' %}"><li class="list-group-item rounded-4">Profile</li></a>
                <a href="{% url 'user_address' %}"><li class="list-group-item rounded-4">Shopping Address</li></a>
                <a href="{% url 'order_history' %}"><li class="list-group-item rounded-4">Order History</li></a>
                <a href="{% url 'wishlist' %}"><li class="list-group-item rounded-4">My Wishlist</li></a>
                <a href="{% url 'cart' %}"><li class="list-group-item rounded-4">My Cart</li></a>
                <a href="{% url 'wallet' %}"><li class="list-group-item rounded-4">Wallet</li></a>
                <a href="{% url 'logout_user' %}"><li class="list-group-item rounded-4">Log Out</li></a>
              </ul>
          </div>
        <!-- Main Content -->
        <div class="col-md-9">






            <h1>Wishlist page</h1>
        </div>
    </div>
</div>
    





               


{% endblock %}

{% block scripts %}
<script>
   
    </script>
    

    {% endblock %}