{% extends 'admin/admin_theme.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="card mb-4 mt-5 pt-3 col-md-8">
        <div class="card-header">
            
            <i class="fa-solid fa-boxes-stacked"></i>
            
            Edit Product
        </div>
        <div class="card-body">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Warning!</strong>  The changes you made here will affect all variants of this product (except variant details).

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <form action="{% url 'edit_product' varient.id %}" method="post" enctype="multipart/form-data">

                {% csrf_token %}
            <div class="mb-1">
            
            <label for="product_name" class="form-label">Product Name</label>
            <br>
            <input type="text" class="form-control" id="product_name" name="product_name" value="{{varient.product_id}}"> 
            </div>

            <div class="mb-1">
            
                <label for="description" class="form-label">Description</label>
                <br>
                <input type="text" class="form-control" id="description" name="description" value="{{varient.product_id.description}}"> 
            </div>

            <div class="mb-1">
            
                <label for="is_offer" class="form-label">Special Offer</label>
                <br>
                {% if varient.product_id.is_offer %}
                <label for="choice1" class="form-label">Yes</label>

                <input type="radio" class="" id="choice1" name="is_offer" value="True" checked> 
                <label for="choice2" class="form-label">No</label>

                <input type="radio"  id="choice2" name="is_offer" value="False"  > 
                {% else %}
                <label for="choice1" class="form-label">Yes</label>

                <input type="radio" class="" id="choice1" name="is_offer" value="True" > 
                <label for="choice2" class="form-label">No</label>

                <input type="radio"  id="choice2" name="is_offer" value="False" checked>
                {% endif %}
            </div>
            <div class="mb-1 offer_dropdown"  style="display: none;">
                <label for="offer_select" class="form-label">Select the offer</label>

                <select name="offer_select" id="">
                    {% for offer in offers %}

                        {% if offer == varient.product_id.offer %}
                        <option value="{{offer.id}}" selected>{{offer}}</option>
                        {% else %}
                        <option value="{{offer.id}}" >{{offer}}</option>
                        {% endif %}
    
                    {% endfor %}      
                </select>
            </div>
            
              
            
            <div class="mb-1">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <label for="category" class="form-label">Category</label>
                    <br>
                    <select name="category">
                        {% for category in categories %}
                            {% if category == varient.product_id.sub_category.category %}
                                <option value="{{ category.id }}" selected>{{ varient.product_id.sub_category.category }}</option>
                            {% else %}
                                <option value="{{ category.id }}">{{ category }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <label for="sub_category" class="form-label">Sub Category</label>
                    <br>
                    <select name="sub_category" id="sub_category">
                          {% for sub_category in sub_categories %}
                              <option value="{{ sub_category.id }}">{{ sub_category.sub_category }}</option>
                          {% endfor %}
                    </select>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <label for="brand" class="form-label">Brand</label>
                    <br>
                    <select name="brand">
                           

                          {% for brand in brands %}
                          {% if brand == varient.product_id.brand %}
                                <option value="{{ brand.id }}" selected>{{ brand.brand_name }}</option>
                            {% else %}
                            <option value="{{ brand.id }}">{{ brand.brand_name }}</option>

                            {% endif %}
                          {% endfor %}
                    </select>
                    </div>
                </div>
                
                
            </div>
                

                <label class="form-label" for="customFile">Upload Images</label>
                
                <div class="d-flex flex-wrap">
                    {% for image in images %}
                    <div class="card" style="width: 150px; margin: 20px;">
                        <img src="{{ image.image.url }}" class="card-img-top" alt="Your Image">
                        <div class="card-body">
                        <button type="button" class="close btn-close" aria-label="Close" onclick="this.parentElement.parentElement.style.display='none'">
                            
                        </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                  
                 <p>The images you upload will replace the old in the same order</p> 
                 <label for="image1">Image 1(default)</label>
                <input type="file" class="form-control" id="image1" name="image1" />

                 <label for="image2">Image 2</label>
                <input type="file" class="form-control" id="image2" name="image2" />
                 <label for="image3">Image 3</label>
                 <input type="file" class="form-control" id="image3" name="image3" />
                <br>
<!-- adding varients dynamically -->
<hr style="color: rgb(161, 7, 7);"><hr style="color: rgb(161, 7, 7);">

                <div class="mb-1">
            
                    <label for="" class="form-label">Varient</label>
                    <button class="btn btn-sm btn-outline-success" type="button" id="addButton"><i class="fa-solid fa-plus"></i>Add</button>
                    <br>
                    <div id="variantContainer">
                        <div class="variant" style="display: flex; justify-content: space-between;">
                            <label for="quantity1" class="form-label">Quantity</label>
                            <input type="text" class="form-control" id="quantity1" name="quantity1" placeholder="Quantity" value="{{varient.quantity}}" required>
                            <select name="unit1">
                                {% for unit in units %}
                                    {% if unit == varient.unit %}
                                    <option class="form-control" value="{{ unit.id }}" selected>{{ unit.unit }}</option>
                                    {% else %}
                                    <option class="form-control" value="{{ unit.id }}">{{ unit.unit }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <br>
                            <label for="stock1" class="form-label">Stock</label>

                            <input type="text" id="stock1" name="stock1" class="form-control" placeholder="Stock" value="{{varient.stock}}" required><br>
                            
                            <label for="price" class="form-label">Price</label>
                            <input type="text" id="price" name="price1" class="form-control" placeholder="Price" value="{{varient.price}}"  required>
                            <!-- Add more fields as needed -->
                        </div>
                        
                    </div>

                    













                </div>
                
                <input type="hidden" id="variantCount" name="variantCount" value="1">
                <button class="btn btn-secondary" type="submit">Upload</button>

                
               


            </form>


        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

<script>

    
    
    $(document).ready(function() {


// offer checkbox
if($('input[name="is_offer"]:checked').val() == "True"){
        $(".offer_dropdown").show();
    } else {
        $(".offer_dropdown").hide();
    }

    // Check the condition when the radio button is clicked
    $('input[type="radio"]').click(function(){
        if($(this).attr("value")=="True"){
            $(".offer_dropdown").show();
        }
        if($(this).attr("value")=="False"){
            $(".offer_dropdown").hide();
        }
    });




        var variantCount = 1;
        $('#addButton').click(function() {
            variantCount++;
            var newVariant = '<div class="variant" style="display: flex; justify-content: space-between;">' +
                '<input type="text" placeholder="Quantity" class="form-control" name="quantity' + variantCount + '">' +
                '<select name="unit'+variantCount+'">'+
                                '{% for unit in units %}'+
                                    '<option value="{{ unit.id }}">{{ unit.unit }}</option>'+
                                '{% endfor %}'+
                            '</select>'+
                '<input type="text" class="form-control" placeholder="Stock" name="stock' + variantCount + '">' +
                '<input type="text" class="form-control" placeholder="Price" name="price' + variantCount + '">' +
                '<button class="remove-variant btn btn-sm btn-outline-danger"><i class="fa-solid fa-xmark"></i></button>' +
                '</div>';
            $('#variantContainer').append(newVariant);
            $('#variantCount').val(variantCount);
        });

        $(document).on('click', '.remove-variant', function() {
        $(this).closest('.variant').remove();  
        variantCount--;
        $('#variantCount').val(variantCount);

        });



        $('#category').change(function() {
console.log('Category changed'); // Add this line

var url = "/admin/ajax_load_subcategories/";  // get the url of the `load_subcategories` view
var categoryId = $(this).val();  // get the selected category ID from the HTML input

$.ajax({                       // initialize an AJAX request
url: url,                    // set the url of the request (= /hr/ajax/load-subcategories/)
data: {
    'category': categoryId       // add the category id to the GET parameters
},
success: function (data) {   // `data` is the return of the `load_subcategories` view function
    $("#sub_category").html(data);  // replace the contents of the subcategory input with the data that came from the server
},
error: function (jqXHR, textStatus, errorThrown) { // Add this
    console.log(textStatus, errorThrown);
},
complete: function (jqXHR, textStatus) { // And this
    console.log('AJAX call completed with status: ' + textStatus);
}







        });

    });




    });
    </script>



{% endblock %}
