{% extends 'admin/admin_theme.html' %}
{% load static %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fa-solid fa-list"></i>
        Sales Report
        <br><br>
        <div class="justify-content-between">
            <button class="btn btn-outline-secondary btn-sm rounded-pill without-date" id="day" >Last Day</button>
            <button class="btn btn-outline-secondary btn-sm rounded-pill without-date" id="week">Last Week</button>
            <button class="btn btn-outline-secondary btn-sm rounded-pill without-date" id="month">Last Month</button>
            <button class="btn btn-outline-secondary btn-sm rounded-pill " id="custom-date" >Custom date</button>
            <form action="" id="date-form" style="display: none;">
                <label for="from">From</label>
                <input type="date">
                <label for="">To</label>
                <input type="date">
                <input type="submit" value="Genarate">
            </form>

        </div>
        
    
    </div>
    
    
    

      
    <div class="card-body" id="result">
        <h3 style="text-align: center;">Overall Sales Report</h3>
        <a href="{% url 'sales_report_all' %}">Download CSV</a>
        <hr>
        <p><strong>Sales count:</strong> {{ orders.count }}</p>
<p><strong>Order amount:</strong> ₹{{ total_order_amount }}</p>
<p><strong>Sales discount:</strong> ₹{{ total_discount }}</p>

        <hr>
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Order Date</th>
                    <th>Total</th>
                    <th>Discount</th>
                    <th>Recieved</th>
                    <th>Payment Method</th>
                   
                </tr>
            </thead>
            <tfoot>
                
            </tfoot>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.user}}</td>
                    <td>{{order.order_date}}</td>
                    <td>{{order.actual_price}}</td>
                    <td>{{order.discount}}</td>
                    <td>{{order.total_price}}</td>
                    <td>{{order.payment_method}}</td>
                    
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- <script>
    $('#custom-date').click(function(){
        $('#date-form').css('display', 'block');
    })
</script> -->


<script>
    $(document).ready(function(){

        $('.without-date').click(function(){
        $('#date-form').hide();
    })

    $('#day').click(function(){


        $.ajax({
                url: '{% url "sales_report_day" %}',
                type: 'GET',
                
                success: function(data) {
                    console.log(data);
                    $('#result').html(data);
                },
                error: function(error) {
                    console.log(error);
                }
            });

    })

    $('#week').click(function(){


$.ajax({
        url: '{% url "sales_report_week" %}',
        type: 'GET',
        
        success: function(data) {
            console.log(data);
            $('#result').html(data);
        },
        error: function(error) {
            console.log(error);
        }
    });

})

$('#month').click(function(){


$.ajax({
        url: '{% url "sales_report_month" %}',
        type: 'GET',
        
        success: function(data) {
            console.log(data);
            $('#result').html(data);
        },
        error: function(error) {
            console.log(error);
        }
    });

})





        
    })
    


    document.addEventListener("DOMContentLoaded", function() {
        // Get references to the button and form
        const customDateButton = document.getElementById("custom-date");
        const dateForm = document.getElementById("date-form");

        // Add a click event listener to the button
        customDateButton.addEventListener("click", function(event) {
            event.preventDefault(); // Prevent default form submission behavior
            dateForm.style.display = dateForm.style.display === "none" ? "block" : "none";
        });
    });
</script>

{% endblock %}

