{% extends 'admin/admin_theme.html' %}
{% load static %}

{% block content %}

<div class="card mb-4">
    <div class="card-header">
        <i class="fa-solid fa-users"></i>
        Users list table
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    
                    <th>Stutus</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                
            </tfoot>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                    {% if user.is_active == True %}
                    <td>Active</td>
                    <td>
                        
                        <a href="/admin/block/{{ user.id }}" class="btn btn-outline-danger btn-sm " style="margin-left: 40px;" onclick="return confirm('Are you sure? want to block this user?');">Block</a>
                    </td>
                        
                    {% else %}
                    <td>Blocked</td>
                    <td>
                        <a href="unblock/{{ user.id }}" class="btn btn-outline-success btn-sm " style="margin-left: 40px;" onclick="return confirm('Are you sure? you want to unblock this user?');">Unblock</a>
                    </td> 
                    {% endif %}
                    
                        
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

