<div class="content_body" id="content_body">
    <div class="wrapper_content_body">

        <div class="section_head_titile">
            <h2>First Form Data</h2>
            <ul>
                <li> <i class="fa fa-home"> </i> Home</li>
                <li><span>></span></li>
                <li>First Form Data</li>
            </ul>
        </div>

        <div class="type_pages_list">
            <div class="row rmr">

                <div class="col-lg-3 col-xs-12 col-sm-6">
                    <div class="itemselect_filter green">
                        <a href=""><i class="fa fa-list"></i> All First Form Data <span>2768</span></a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-12 col-sm-6">
                    <div class="itemselect_filter red">
                        <a href=""> <i class="fa fa-trash"></i> Approved Data <span>2768</span> </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-12 col-sm-6">
                    <div class="itemselect_filter red">
                        <a href="">
                            <i class="fa fa-thumbs-up"></i> Rejected Data <span>2768</span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-12 col-sm-6">
                    <div class="itemselect_filter warning">
                        <a href="">
                            <i class="fa fa-thumbs-down"></i> Pending Data <span>2768</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="type_pages_list">



            <div class="row rmr">

                <div class="col-lg-1 col-xs-3 height_control">
                    <input type="checkbox" class="check_checkbox" id="checkall">
                </div>


                <div class="col-lg-2 col-xs-12 col-sm-4">
                    <div class="itemselect_filter red">
                        <a href="">
                            <i class="fa fa-trash"></i> DELETE
                        </a>
                    </div>
                </div>


                <div class="col-lg-2 col-xs-12 col-sm-4">
                    <div class="itemselect_filter green">
                        <a href="">
                            <i class="fa fa-thumbs-up"></i>APPROVE
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-xs-12 col-sm-4">
                    <div class="itemselect_filter green">
                        <a href="">
                            <i class="fa fa-thumbs-down"></i> REJECT
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="table_data_check">
            <div class="table_head_sec">
                <h2>ALL Staff LIST</h2>
            </div>
            <!-- <div class="table_filtter">
                <div class="row">
                    <div class="col-6">
                        <div class="table_row_select">
                            <label for="">Records Per Page :- </label>
                            <select name="" id="" onchange="countTable('table_filter',this.value)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="table_row_search">

                            <input type="text" class="w-100" placeholder="Search">
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="table_overflow">
                <table id="table_filter" class="tablenormal">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Status</th>
                            <th>Edit</th>
                            <th class="sort_table_row">Name</th>
                            <th class="sort_table_row">Email id</th>
                            <th class="sort_table_row">Mobile</th>
                            <th class="sort_table_row">Address</th>
                            <th>Pincode</th>
                            <th>Number of profile</th>
                            <th>View all profile</th>
                            <th>Commision</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" class="check_select"></td>
                            <td>Active</td>
                            <td>Edit</td>
                            <td>javad</td>
                            <td>muhammedjavad119144@gmail.com</td>
                            <td>+91 9744727684</td>
                            <td>Erol Kunnumal House</td>
                            <td>671319</td>
                            <td>12</td>
                            <td>view</td>
                            <td>20%</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="check_select"></td>
                            <td>Active</td>
                            <td>Edit</td>
                            <td>javad</td>
                            <td>muhammedjavad119144@gmail.com</td>
                            <td>+91 9744727684</td>
                            <td>Erol Kunnumal House</td>
                            <td>671319</td>
                            <td>125</td>
                            <td>view</td>
                            <td>20%</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="check_select"></td>
                            <td>Active</td>
                            <td>Edit</td>
                            <td>javad</td>
                            <td>muhammedjavad119144@gmail.com</td>
                            <td>+91 9744727684</td>
                            <td>Erol Kunnumal House</td>
                            <td>671319</td>
                            <td>12</td>
                            <td>view</td>
                            <td>20%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <p class="showing_data">Showing 1 to 3 of 3 entries</p>
            <ul class="pagination_table">
                <li><a href="">← Previous</a></li>
                <li><a href="">1</a></li>
                <li><a href="">Next → </a></li>
            </ul> -->
        </div>


    </div>
</div>

<link rel="stylesheet" type="text/css" href="plugin/table/datatables.css">
<script type="text/javascript" charset="utf8" src="plugin/table/datatables.js"></script>

<script>
    $(document).ready(function () {


        $('#table_filter').DataTable({
            "processing": true,
            "language": {
                "processing": "DataTables is currently busy"
            },
            paging: true,
            "aaSorting": [
                [3, 'desc']
            ],
            'aoColumnDefs': [{
                'bSortable': false,
                'info': true,
                "paging": true,
                'aTargets': [0, 1, 2,],
                'pageLength': 10
            }]
        });
    })

    function countTable(tableid, count) {

    }
</script>