{% extends 'user/theme.html' %}

{% load static %}
{% block content %}

<div class="container">
    <br><br><br><br><br><br><br>

    <div class="row">
        <div class="col-md-8 offset-2 bg-white rounded-4 mt-5 p-3 " style="border: 1px solid greenyellow;">
            {% if messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                {{message}}
        
                {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            

            <div class="row">
                <div class="col-md-6">
                    <!-- form section sart  -->
                    <h5 style="margin-left: 100px; color: rgb(44, 134, 104);">Forgot Password</h5>

            <form action="{% url 'reset_password' %}" method="post">
                {% csrf_token %}
                <div class="mb-1">
                
                <label for="mob_email" class="form-label">Email</label>
                <br>
                <span class="text-danger" style="display: none;" id="min-len">Not a Valid Email</span>
                <span class="text-danger" style="display: none;" id="req">* This is required field</span>
                <input type="text" class="form-control" id="mob_email" name="mob_email" > 
                </div>
            
            
               
        
                
                
        
                <br><div class="d-flex justify-content-center"><button type="submit" class="btn btn-secondary">Submit</button></div>
                
                <br><br>
                <p>If you don't have an account <br> You can <a href="{% url 'signup' %}">Register Here</a></p>
            </form>
            
            <!-- form section end  -->
                </div>
    <!-- image section started -->

                <div class="col-md-6">


                    <img src="{% static 'img/forgot_password.jpg' %}" style="width: 500px;" alt="">
                </div>
                
        <!-- end of image section -->
            </div>


        </div>
    


    </div>
        

    

    
</div>



<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
 $(document).ready(function(){
    function validateInput(inputElement,req,min) {
        $(inputElement).blur(function(){
            var check = $(this).val();
            if(check.length == 0){
                $(req).show();
                $(min).hide();
            }
            else if(check.length < 4){
                $(req).hide();
                $(min).show();
            } else {
                $(req).hide();
                $(min).hide();
            }
        });
    }

    validateInput("#first_name","#req","#min-len");
    validateInput("#address","#req1","#min-len1");
    validateInput("#email","#req2","#min-len2");
    validateInput("#password1","#req3","#min-len3");
});

</script>

{% endblock %}