{% extends 'user/theme.html' %}

{% load static %}
{% block content %}

<div class="row">
    <br><br><br><br><br><br><br>
</div>
<div class="row">
    <div class="col-md-1"></div>
<div class="col-md-4 bg-white rounded-4 mt-5 p-3" >
  
  

    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for message in messages %}
           {{message}}

        {% endfor %}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
     {% endif %}

     <p>OTP send successful to <span style="color: #679d06;">{{email}}</span></p>

    <form action="{% url 'otp_check_forgot_password' %}" method="post" style="padding:0 80px 0 80px;">
        {% csrf_token %}
        <div class="mb-1">
          
          <label for="otp" class="form-label">Enter OTP  </label>
          <br>
          <input type="text" class="form-control" id="otp" name="otp" required> 

          <label for="password1" class="form-label">New Password  </label>
          <br>
          <input type="password" class="form-control" id="password1" name="password1" required> 

          <label for="password2" class="form-label">Re- enter password  </label>
          <br>
          <input type="password" class="form-control" id="password2" name="password2" required> 

          <input type="hidden" name="email" value="{{email}}">
        </div>
      
       
            
         
          
         

        <br><div class="d-flex justify-content-center"><button type="submit" class="btn btn-secondary">Reset</button></div>
        
      </form>
    </div>
    

    <!-- image section started -->
    <div class="col-md-5">
        
       <img width="100%" src="{% static 'img/otp.jpg' %}" alt="">
    </div>
    

<!-- end of image section -->
</div>





{% endblock %}