{% extends 'admin_theme.html' %}
{% load static %}

{% block content %}

<div class="card mb-4">
    <div class="card-header">
        <i class="fa-solid fa-layer-group"></i>
        Edit Categories
        <a class="btn btn-success" href="{% url 'add_category' %}"> Add new category</a>
    </div>
    <div class="card-body">



        {% for category in categories %}
            <div class="card mb-4">
                <div class="card-header">
                    <h5 style="display: inline;">{{ category.category_name }}</h5>

                    <div style="display: inline;" class="d-grid gap-2 d-md-flex justify-content-md-end">

                        <a class="btn btn-outline-success" href="">Add new sub category</a>
                        <a class="btn btn-outline-danger" href="delete_category/{{ category.category_id }}" onclick="return confirm('You are deleting this category and its sub categories for ever. The products will be moved to holded list \n\n Are you sure?');"> Delete {{ category.category_name }}</a>
                    </div>
                    
                </div>
                <div class="card-body">
                    {% for subcategory in category.subcategories %}

                    <h6 style="display: inline;">{{subcategory.subcategory_name}}</h6>
                    <a class="btn btn-outline-danger btn-sm" href="delete_subcategory/{{ subcategory.subcategory_id }}" onclick="return confirm('You are deleting this sub category for ever. The products will be moved to holded list \n\n Are you sure?');"> Delete {{ subcategory.subcategory_name }}</a>

                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Brand</th>
                                    <th>Stock Bal</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                
                            </tfoot>
                            <tbody>
                                {% for product in subcategory.products %}
                                    {% for variant in product.variants %}

                                        <tr>
                                            <td>{{variant.id}}</td>
                                            <td>{{product.product_name}}</td>
                                            <td>{{category.category_name}}</td>
                                            <td>{{variant.description}}</td>
                                            <td>{{variant.brand}}</td>
                                            <td>{{variant.stock}}</td>
                                            <td>{{variant.price}}</td>
                                            <td><img src="{{variant.image}}" style="height: 50px;" alt=""></td>
                                            <td>edit/hold</td>
                                            
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                    
                
                </div>

            </div>

        {% endfor %}

    </div>

</div>

{% endblock %}

           