{% extends 'admin_theme.html' %}
{% load static %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fa-solid fa-users"></i>
        PRODUCTS LIST
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                
            </tfoot>
            <tbody>
                {% for variant in variants %}
                <tr>
                    <td>{{variant.id}}</td>
                    <td>{{variant.name}}</td>
                    <td>{{variant.category}}</td>
                    <td>{{variant.description}}</td>
                    <td>ITC</td>
                    <td>{{variant.price}}</td>
                    <td><img src="{{variant.image}}" style="height: 50px;" alt=""></td>
                    <td>edit/hold</td>
                       
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

